* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
}

main {
  padding-top: 100px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 30px;
  padding: 8px;  
}

.js-question-fieldset {
  border: 1px solid black;
  border-radius: 15px;
  margin: 25px;
  padding: 25px;
}

.js-question-text {
  color: blue;
  font-weight: bold;
}

.js-answer-text {
  margin: 10px;
  padding: 10px;
}
input[type="radio"] {
  margin: 10px;
}

legend {
  color: blue;
  padding: 5px;
  font-weight: bold;
}